.h_main {
    /* background-color: #d9d9e3; */
    background-color: var(--theme-color);
    color: var(--text-theme-color);
}

.header_main {}





.header_main span {
    padding: 8px;
    width: auto;
    border: 1px solid;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    text-wrap: nowrap;

}